<h1>Quotes FTW</h1>

<% @quotes.each do |quote| %>
  <blockquote><p><%=quote[:quote]%></p>
    <footer>
      <cite><%=quote[:author]%></cite>
    </footer>
  </blockquote>
  <!-- TIL: http://html5doctor.com/cite-and-blockquote-reloaded/ -->
<% end %>

<h3>Search!</h3>
<p>Wow look a form for search!</p>

<form action="/search" method = "get">
  <input type = "text" name = "terms" /> <br />
  <input type= "submit" />
</form>

<h5>Cool Searches</h5>
<p>Wish there was a list of recommended searches...</p>

<ul>
  <li><a href="http://localhost:9292/search?terms=smart">Cool search for "smart"</a></li>
  <li><a href="http://localhost:9292/search?terms=man">Cool search for "man"</a></li>
  <li><a href="http://localhost:9292/search?terms=computers">Cool search for  "computers"</a></li>
</ul>

<h3>Authors!</h3>
<p>Wish there was a list of authors and links to their pages...</p>


<ul>
  <li><a href="http://localhost:9292/#{author}">#{author}</a></li>
</ul>